<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>
        <script src="../../Scripts/angular.min.js"></script>
        <script src="../../Scripts/angular-route.min.js"></script>
            
        <script src="../Home/HomeModule.js"></script>
        <script src="../Home/HomeController.js"></script>
    </title>
</head>
<body class="container" ng-app="HOME">
    <div class="center" ng-controller="HomeController">
       
        <a href="#main"><button class="btn  btn-primary text-center">play</button></a>
    </div>
</body>
</html>
