body{
    background-color : #c2c2a3;
}

table{
    background-color:green;
}

td {
    border: 1px solid green;
    text-align:center;
    margin:1% 1% 1% 1%;   
    
}

.mainTable
{
    margin:7% 10% 5% 28%;
    
   
}

.table-cell{
     width:52px; 
    padding : 1px;
}

input{
    background-color: #ebebe0;
    text-align:center;
}
input:focus{
    background-color:red;
}