<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Sudoku</title>

    <script src="../../Scripts/angular.min.js"></script>
    <script src="../../Scripts/angular-route.min.js"></script>
    <link href="../../css/home.css" rel="stylesheet" />
    <link href="../../Content/bootstrap.css" rel="stylesheet" />
    <link href="../../CSS/main.css" rel="stylesheet" />
    <script src="HomeModule.js"></script>
    <script src="HomeController.js"></script>
    <script src="../Main/MainModule.js"></script>
    <script src="../Main/MainController.js"></script>
    
    
</head>
<body ng-app="HOME">
       <div>
           <ng-view></ng-view>
       </div>

</body>
</html>
